

    <p *ngFor="let carreras of Carrera"> {{carreras}}</p>

    <p *ngFor="let nombres of nombre"> {{nombres}}</p>
 
    <p *ngFor="let equipos of Equipos;let i = index;"> {{i+1}} --- {{equipos}}</p>

<div class="carros">
    <table border="1">
        <tr>
            <td>
                carros
            </td>
        </tr>
        <tr *ngFor="let coches of Carros">
            <td>
                {{coches}}
            </td>
        </tr>

    </table>
</div>


    <h1>Tabla de Multiplicar del numero 3</h1>
    <h1 *ngFor="let numero of numero;let i = index;">3 x {{numero}} = {{(i+1)*3}} </h1> 

    <p *ngIf="Edad>=21">Ya estas ruco</p>

    <p *ngIf="sueldo>=1200"> Ya mamo</p>

    <p *ngIf="Calificacion>=10"> pasaste</p>

    <p *ngIf="semestre>=3"> felicidades</p>

    <p *ngIf="numero.length==3"> si hay numero</p>


