<div class="contenedor">
    <div class="secciona">
        <h1 class="title4">Angular</h1>
        <h2>Conceptos basicos: </h2>
        <h2>*Angular: Se trata de un framework de JavaScript que los desarrolladores utilizan para crear aplicaciones web de una sola página. Debido al uso de la arquitectura Modelo-Vista-Controlador, no es necesario escribir manualmente el mismo código para los archivos HTML y JavaScript.</h2>
        <h2>*Componente: Son el bloque de construcción mas basico de un UI en una aplicación Angular</h2>
        <h2>*Un Componente esta formando por tres archivos:</h2>
        <h2>-Typescript: 
            Logica, 
        HTML: vista, 
        CSS: Estilos</h2>  
        <h2>*ngFor: Estructura para sacar elementos de una arreglo</h2>
        <h2> NPM: Now Package Manager.  MEAN: Mongo, Express, Angular, NodeJS.  JSON: JavaScript Object Notation.</h2>
        <h2>HttpClient: Realiza solicitudes HTTP</h2>
        <h2>HttpClientModule: Servicio proporcionado por Angular que nos permite realizar solicitudes HTTP y manipularlas.</h2>

    </div>
</div>
<div class="contenedor2">
    <div class="con">
        <h1>Crear proyecto</h1>
        <h2>1.- Crear carperta del proyecto</h2>
        <h2>2.- Ng new "nombre"</h2>
        <h2>3.- N</h2>
        <h2>4.- Elegir hoja de estilos CSS</h2>
        <h2>5.- Cd a la carpeta y correr con Ng serve -o</h2>
        <h2>6.- navegador: localhost:4200</h2>
        <h2></h2>
    </div>
    <div class="con2">
        <h1>Estructura</h1>
        <h2>*Carpeta src: Source contiene todo el proyecto de angular</h2>
        <h2>*Carpeta assets: Contiene la multimedia del proyecto </h2>
        <h2>*Carpeta App: Contiene a la carpeta components y a los componentes principales</h2>
        <h2>*app.html: Es la vista, el app.css son los estilos, app.ts es la parte logica. </h2>
        <h2>*index.html: Es la vista principal, styles.css son los estilos globales </h2>
    </div>
</div>
<div class="contenedor3">
    <div class="secciona3">
        <h1 class="title3">Comandos</h1>
        <h2>npm i -g @angular/cli: Instalar Angular</h2>
        <h2>ng serve -o: Correr proyecto</h2>
        <h2>4200: puerto de angular</h2>
        <h2>ng g c component/nombre: crear componente</h2>
         <h2>ng g s services/carpetaservicios/nombreservicio: crear Servicio</h2>
        <h2>Asyn: Devuelve una promesa</h2>
        <h2>Await: es la palabra que js espera hasta que la promesa se resuelva y devuelva un resultado</h2>
    </div>
    <div class="secciona22">

        <div class="galery">
            <img src="./../assets/angular_cli_commands.png" alt="">
        </div>
    </div>
</div>
<div class="contenedor4">
    <div class="secciona4">
        <h1 class="title3">Pasos para crear una API</h1>
        <h2>Verificar petición con un cliente REST (Postman)</h2>
        <h2>Crear un nuevo componente </h2>
        <h2>Crear carpeta de servicios y un nuevo servicio</h2>
        <h2>Importar el HTTPCLIENTMODULE en el app.module.ts</h2>
         <h2>Importar el HTTPCLIENT en el servicio creado</h2>
        <h2>Setear la URL</h2>
        <h2>Realizar metodo GET</h2>
        <h2>Importar el servicio en el componente</h2>
        <h2>Inyectar el servicio en el constructor del componente</h2>
        <h2>Hacer funcion que se va a recorrer y activar la funcion GET del servicio con el metodo .subscribe</h2>
    </div>
    <div class="secciona24">

        <div class="galery">
     
        </div>
    </div>
</div>