.title4 {
    margin-top: 5px;
    text-align: center;
    color: rgb(233, 221, 217);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nombre {
    color: rgb(240, 240, 240);
    font-size: 1.5rem;
    line-height: 5px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.contenedor {
    display: flex;
}

.secciona {
    width: 1300px;
    height: 330px;
    background: #2e0504;
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
    border-radius: 20px;
    font-family: 'calibri';
    text-align: justify;
    color: white;
    box-shadow: 7px 13px 27px rgb(200, 218, 230);
}

.secciona2 .galery {
    width: 200px;
    height: 120px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    
}

img {
    width: 220px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
   
}

.secciona h2{
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify; 
    margin: 5px;

}

.contenedor2 {
    display: flex;
}
.con {
    background: #2e0504;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 7px 13px 27px rgb(200, 218, 230);
    margin: 5px;
    margin-top: 20px;
    width: 600px;
    height: 230px;

}

.con2 {
    background: #2e0504;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 7px 13px 27px rgb(200, 218, 230);
    margin: 10px;
    margin-top: 20px;
    width: 800px;
    height: 230px;

}

.con h1 {
    text-align: center;
    color: rgb(212, 226, 226);
}

.con h2 {
    text-align: justify;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}
.contenedor3 h2 {
    text-align: justify;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}

.con2 h1 {
    text-align: center;
    color: rgb(230, 238, 238);
}

.con2 h2 {
    text-align: justify;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.title3 {
    text-align: left;
    color: rgb(232, 246, 247);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor3 {
    display: flex;
}

.secciona3 {
    width: 800px;
    height: 300px;
    background: #2e0504;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    border-radius: 20px;
    font-family: 'calibri';
    text-align: justify;
    color: white;
    box-shadow: 7px 13px 27px rgb(200, 218, 230);
}

.secciona22 .galery {
    width: 600px;
    height: 280px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.secciona22 img {
    box-shadow: 7px 13px 27px rgb(200, 218, 230);
    border-radius: 10px;
    height: 300px;
    width: 550px;
    margin-top: 10px;
    margin-left: 10px;
}

.contenedor4 {
    display: flex;
}

.secciona4 {
    width: 800px;
    height: 400px;
    background: #2e0504;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    border-radius: 20px;
    font-family: 'calibri';
    text-align: justify;
    color: white;
    box-shadow: 7px 13px 27px rgb(200, 218, 230);
}

.secciona22 .galery {
    width: 600px;
    height: 280px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.secciona24 img {
    box-shadow: 7px 13px 27px rgb(200, 218, 230);
    border-radius: 10px;
    height: 300px;
    width: 550px;
    margin-top: 10px;
    margin-left: 10px;
}
