.contenido {
    display: flex;
    margin: 40px;
}

.item {
    background-color: #041720;
    border-radius: 5px;
    box-shadow: 7px 13px 37px rgb(12, 107, 102);
    height: 400px;
    width: 1000px;
    margin-left: 140px;
}

.dgimg {
    width: 260px;
    height: 210px;
    margin: 10px;
    border-radius: 10px;
    margin-left: 375px;
}

.datos {

    height: 150px;
    width: 600px;
    margin-left: 200px;
    margin-top: 5px;
    border-radius: 10px;
}

h1 {
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    margin: 5px;
}