<div class="social-menu">
    <ul>
        <li><a href="https://www.facebook.com/diego.gs.7771"><i class="fab fa-facebook" aria-hidden="true"></i>
            </a></li>
        <li><a href="https://www.instagram.com/diego_go.gs/"><i class="fab fa-instagram" aria-hidden="true"></i>
            </a></li>
        <li><a href="https://github.com/diegogs1"><i class="fab fa-github" aria-hidden="true"></i>
            </a></li>
    </ul>
</div>

