@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css);

.social-menu ul {
    height: 60px;
    width: 300px;
    position: absolute;
    top: 49%;
    left: 50%;
    margin: 5px;
    transform: translate(-50%, -50%);
    display: flex;
    margin-top: 345px;
    background-color: #041720;
    box-shadow: 7px 13px 37px rgb(12, 107, 102);
    border-radius: 10px;
}

.social-menu ul li {
    list-style: none;
    margin: 10px 15px 15px 15px;

}

.social-menu ul li .fab {
    font-size: 30px;
    line-height: 40px;
    transition: .3s;
    color: aliceblue;
}

.social-menu ul li .fab:hover {
    color: #921c1c;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 0px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}