.container {
    background-color: #041720;
    height: 150px;
    border-radius: 5px;
    box-shadow: 7px 13px 37px rgb(12, 107, 102);
}

.title {
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(215, 226, 235);
    text-align: center;
    margin-top: 6px;
    padding: 40px;
}